<div class="inline-block w-40 cursor-pointer relative">
  <img
    (mouseover)="showValues($event)"
    (mouseout)="hideValues($event)"
    routerLink="/movie"
    class="w-full h-auto scale-90 hover:scale-100 duration-300 rounded"
    [src]="URLIMAGE + movie.poster_path"
    alt=""
  >
  <ng-container *ngIf="showDataCard">
    <div id="average" class="absolute bottom-1 w-full flex items-center justify-evenly rounded h-10 duration-200">
      <ng-icon class="text-xl text-green-600" name="bootstrapHeart"></ng-icon>
      <p>{{ movie.vote_average }}</p>
    </div>
  </ng-container>
</div>
