header.isFixed {
  opacity: 0.9;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 6rem;
  transition-duration: 500ms;
  --tw-bg-opacity: 1;
    background-color: rgb(2 6 23 / var(--tw-bg-opacity));
}

header {
  background-color: #02061790;
}
