<nav>
  <ul class="text-white text-base flex gap-3">
    <li class="cursor-pointer hover:text-orange-600 duration-200"><a routerLink="/filmes">Filmes</a></li>
    <li class="cursor-pointer hover:text-orange-600 duration-200"><a routerLink="/series">Series</a></li>
    <li class="cursor-pointer hover:text-orange-600 duration-200"><a routerLink="/animes">Animes</a></li>
    <li class="cursor-pointer hover:text-orange-600 duration-200"><a routerLink="/documentarios">Documentarios</a></li>
  </ul>
</nav>
