<section class="flex items-center justify-center h-screen">
  <div class="flex flex-col items-center justify-center bg-slate-950 w-1/2 h-2/3 rounded">
    <h2 class="text-3xl font-bold mb-5">Bem vindo de volta</h2>
    <form class="flex flex-col" action="">
      <label for="username">Username</label>
      <input class="mb-5 rounded w-80 h-10 outline-none text-black pl-5" type="text" name="username" id="username">
      <label for="password">Password</label>
      <input class="mb-5 rounded w-80 h-10 outline-none text-black pl-5" type="password" name="password" id="password">
      <button class="bg-green-700 rounded-full h-8 text-xl hover:opacity-90" type="submit">Acessar</button>
    </form>
    <div class="flex items-center justify-center mt-4">
      <a routerLink="/recover-password" class="hover:text-orange-600 duration-200">Esqueci a senha</a>
      <a routerLink="/register" class="ml-4 hover:text-orange-600 duration-200">Registrar-se</a>
    </div>
    <a routerLink="/" class="ml-4 hover:text-green-600 duration-200">Voltar</a>
  </div>
</section>
