<footer class="flex items-center justify-evenly bg-slate-950 w-full mt-40 h-40 fixed bottom-0 w-full">
  <div>
    <img class="w-40" src={{logo}} alt="">
  </div>
  <div class="flex flex-col justify-center items-center">
    <span>Duvidas?</span>
    <ul>
      <li><a class="text-orange-600 text-xs hover:text-green-600 duration-150" href="">Como criar uma conta</a></li>
      <li><a class="text-orange-600 text-xs hover:text-green-600 duration-150" href="">Dicas de filmes</a></li>
      <li><a class="text-orange-600 text-xs hover:text-green-600 duration-150" href="">Assinaturas e pagamentos</a></li>
      <li><a class="text-orange-600 text-xs hover:text-green-600 duration-150" href="">Aplicativos</a></li>
    </ul>
  </div>
  <div class="flex flex-col items-center">
    <span class="pb-5">Siga nas redes sociais</span>
    <a href="#">
      <ng-icon class="text-2xl text-green-600 hover:text-orange-600 duration-150" name="bootstrapInstagram"></ng-icon>
    </a>
    <a href="#">
      <ng-icon class="text-2xl text-green-600 hover:text-orange-600 duration-150" name="bootstrapFacebook"></ng-icon>
    </a>
  </div>
</footer>
