<div class="relative">
  <div class="bg-slate-950 rounded absolute bottom-5 left-20 w-1/3 h-48 p-5 overflow-hidden">
    <h2 class="font-bold text-2xl text-center py-2">Titulo do filme</h2>
    <button type="button" class="bg-orange-600 rounded w-full text-xl px-5 py-2 font-bold font-mono text-center">Saiba mais</button>
    <p class="text-justify mt-5 max-h-24 overflow-hidden">
      dmkelfemlkfjewgbjwoievnklrnbkrnbkrjnvjksenvjknkjdmkelfemlkfjewgb
    </p>
  </div>
  <img class="w-full h-auto" src="https://image.tmdb.org/t/p/original/8pjWz2lt29KyVGoq1mXYu6Br7dE.jpg" alt="">
  <div class="absolute inset-x-0 bottom-0 h-4 bg-black opacity-40 blur-md"></div>
</div>
